.container{
    position:fixed;
    bottom: 100px;
    right: 120px;
    background-color: 227AFFrgb(119, 8, 63);
    border-radius: 15px;
    width: 25%;
    height: 50px;
    overflow: hidden;
    
}
.row:first-child{
    background-color: #227AFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    padding: 5px;
    text-align: left;
}
.row:nth-child(2){
    background-color: #FFF;
    padding: 10px;
    height: 400px;
}
.row:nth-child(3){
    background-color: #227AFF;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    padding: 14px;
    text-align: left;
}
.col1{
    display: inline-flex;
    
}
.col2{
    display: flex;
}
.col3{
    display: flex;
    justify-content: end;
}
.col4{
    display: flex;
    justify-content: space-between;
    gap:15px;
}
.ClientName{
    color: #FFF;
    font-family: Lao Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}
.svgPopUp{
    margin-left:auto ;
}
.message{
    width: 100%;
    margin: auto;
}
input{
    display: flex;
    position: relative;
    width: 100%;
    background-color: #227AFF;
    border: none;
    outline: none;
    color: #FFF;
    font-family: Lao Sans Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder{
        color: #ffffff; 
    }

}
.assistant{
    position: absolute;
    bottom:20px;
    right: 50px;
}
